@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html,
body,
#root,
.layout,
.main {
  height: 100%;
  width: 100%;
}

.layout {
  display: flex;
  position: relative;
}

/* todo webkit scrollbar */

/* Custom Table CSS */
.table-container {
  max-height: 440;
  border: 1px solid lightgray;
  border-radius: 10px
}

.table-row {
  border: 1px solid white;
  border-radius: 5px
}

.table-cell {
  border: 0.5px solid lightgray
}

.select-pagination {
  margin-left: 10px;
  border: 1px solid lightgray;
  border-radius: 4px;
  height: 35px
}

/* Filter Drawer */

.select-filter-button {
  border-bottom: 2px solid transparent;
  color: black;
  transition: all 0.3s ease;
}

.select-filter-button:hover {
  border-bottom: 2px solid purple;
  color: purple;
}

/* Filters Apply */
.coverage-dates-main {
  display: flex;
  justify-content: space-evenly;
  gap: 10px
}

.save-filter-button {
  display: flex;
  align-items: right;
  justify-content: right;
  padding-top: 10px;
  padding-right: 9px;
}